*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("./target.png"),grab;
}
body {
text-align: center;
 background-image: url("./abg.webp");
 background-size: 100% 100%;
 background-attachment: fixed;
 background-repeat: no-repeat;
}
.blood{
    position: absolute;
    z-index: 2;
    height: 50px;
}
.startButton{
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: red;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        position: absolute;
        font-family:"consolas", sans-serif;
        left:47% ;
        bottom: 50%;
       
}
.girl{
        
        position: relative;
        top: 0;
        left: 0;

}
.container{
position: absolute;
    height: 100%;
    width: 100%;
   
}
